<style>

        /* button ------------- */
    .button {
        display: inline-block;
        zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
        *display: inline;
        vertical-align: baseline;
        margin: 0 2px;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        font: 14px/100% Arial, Helvetica, sans-serif;
        padding: .5em .4em .4em;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    }

    .button:hover {
        text-decoration: none;
    }

    .button:active {
        position: relative;
        top: 1px;
    }

        /* pink button */
    .button.pink {
        color: #feeef5;
        border: solid 1px #d2729e;
        background: #f895c2;
        background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
        background: -moz-linear-gradient(top, #feb1d3, #f171ab);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
    }

    .button.pink:hover {
        background: #d57ea5;
        background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
        background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
    }

    .button.pink:active {
        color: #f3c3d9;
        background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
        background: -moz-linear-gradient(top, #f171ab, #feb1d3);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
    }

        /*gallery*/
    .gallery {
        width: auto;
        height: calc(100% -60px);
    }

    .gallery img {
        vertical-align: middle;
    }

    .gallery .wrapper {
        overflow: hidden;
        height: 100%;
    }

    .gallery .pic {
        width: 100%;
        height: 100%;
        float: left;
        text-align: center;
    }

    .gallery #pageScroller {
        width: 100%;
        height: 100%;
        float: left;
        text-align: center;
    }

    .gallery .pic span {
        display: inline-block;
        vertical-align: middle;
        visibility: hidden;
        width: 1px;
        height: 100%;
    }

    .gallery .extra {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #000;
        opacity: .6;
        padding: 10px;
        color: #ffffff;
        height: 30px;
        vertical-align: middle;
        text-align: match-parent;
        line-height: 30px;
        font-size: 14px;
    }

    .gallery .go-order {
        position: absolute;
        right: 30px;
        top: 10px;

    }

    .gallery .page {
        text-align: center;
        position: absolute;
        top: 60px;
        width: 100%;
    }

    .gallery .page span {
        font-size: 0;
        border: 5px solid #f2f2f2;
        border-radius: 5px;
        margin: 0 5px;
    }

    .gallery .page .selected {
        border-color: #000;
    }

    .gallery .trigger a {
        width: 80px;
        height: 80px;
        top: 50%;
        display: block;
        position: fixed;
    }

    .gallery .trigger .prev {
        left: 0;
    }

    .gallery .trigger .next {
        right: 0;
    }

</style>

<header>
  <div class="navigation">
    <div></div>
  </div>
  <div class="title"><%= @goods["name"] %></div>
</header>

<!--  nav  -->
<%= render :partial => 'common/nav' %>
<!--  end nav  -->

<article class="gallery">
  <div id="wrapper" class="wrapper">
    <div id="pageScroller">
      <a class="pic">
        <img src="<%= @goods['detail_photo'] %>" width="100%">
      </a>
      <% @goods["goods_albums"].each do |album| %>
          <a class="pic" data-src="<%= album['photo'] %>">
          </a>
      <% end %>
    </div>
  </div>
  <div class="trigger">
    <% if @pre_id %>
        <a href="/home/detail?id=<%= @pre_id %>" class="prev"><img src="<%= asset_path('prev.png') %>"/></a>
    <% end %>

    <% if @next_id %>
        <a href="/home/detail?id=<%= @next_id %>" class="next"><img src="<%= asset_path('next.png') %>"/></a>
    <% end %>

  </div>

  <div class="page">
    <span class="selected">1</span>
    <% @goods["goods_albums"].each_with_index do |album, index| %>
        <% if index < 7 %>
            <span>1</span>
        <% end %>
    <% end %>
  </div>
  <div class="extra">
    <p class="price">
      <del>市场价: ￥<%= @goods["old_price"] %></del>
      <b>MM价: ￥<%= @goods["sale_price"] %></b></p>
    <p class="go-order">
      <button class="button pink">点击体验试穿</button>
    </p>
  </div>
  </div>
</article>

<!-- loading -->
<div id='loading' class='hide'>
  <style type="text/css">
      /*img{*/
          /*display: none;*/
      /*}*/
      /*img.load{*/
          /*display: block;*/
      /*}*/
          /**********/
      .order_load{
          position: absolute;
          /*width: 220px;*/
          margin:0 auto;
          height: 220px;
          z-index: 1;
          display: inline-block;
          -webkit-transition: all 0.3s ease-in-out;
          -webkit-backface-visibility: hidden;
          -moz-transition: all 0.3s ease-in-out;
          -moz-backface-visibility: hidden;
      }

      .loading32{
          position: relative;
          margin:0 auto;
          top:62px;
          width: 100px;
          height: 100px;
          position: absolute;
          left: 50%;
          margin-left: -50px;
          -webkit-border-radius: 100px;
          -webkit-animation-duration:1.5s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:linear;
          -webkit-animation-name: rotateThis16;
          -moz-border-radius: 100px;
          -moz-animation-duration:1.5s;
          -moz-animation-iteration-count:infinite;
          -moz-animation-timing-function:linear;
          -moz-animation-name: rotateThis16;
      }
      @-webkit-keyframes rotateThis16{
          from {-webkit-transform: scale(0.32) rotate(0deg);}
          to {-webkit-transform: scale(0.32) rotate(360deg);}
      }
      @-moz-keyframes rotateThis16{
          from {-moz-transform: scale(0.32) rotate(0deg);}
          to {-moz-transform: scale(0.32) rotate(360deg);}
      }
      .loading32>div{
          width: 16px;
          height: 16px;
          background-color: #a6a6a6;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -o-border-radius: 30px;
          border-radius: 30px;
          position: absolute;
          left: 42px;
          top: 42px;
      }
      .bar1{
          opacity: 0.3;
          -webkit-transform: rotate(0deg) translate(0, -42px);
          -moz-transform: rotate(0deg) translate(0, -42px);
      }
      .bar2{
          opacity: 0.4;
          -webkit-transform: rotate(45deg) translate(0, -42px);
          -moz-transform: rotate(45deg) translate(0, -42px);
      }
      .bar3{
          opacity: 0.5;
          -webkit-transform: rotate(90deg) translate(0, -42px);
          -moz-transform: rotate(90deg) translate(0, -42px);
      }
      .bar4{
          opacity: 0.6;
          -webkit-transform: rotate(135deg) translate(0, -42px);
          -moz-transform: rotate(135deg) translate(0, -42px);
      }
      .bar5{
          opacity: 0.7;
          -webkit-transform: rotate(180deg) translate(0, -42px);
          -moz-transform: rotate(180deg) translate(0, -42px);
      }
      .bar6{
          opacity: 0.8;
          -webkit-transform: rotate(225deg) translate(0, -42px);
          -moz-transform: rotate(225deg) translate(0, -42px);
      }
      .bar7{
          opacity: 0.9;
          -webkit-transform: rotate(270deg) translate(0, -42px);
          -moz-transform: rotate(270deg) translate(0, -42px);
      }
      .bar8{
          opacity: 1;
          -webkit-transform: rotate(315deg) translate(0, -42px);
          -moz-transform: rotate(315deg) translate(0, -42px);
      }
  </style>
  <div class="order_load">
    <div class="loading32">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <div class="bar4"></div>
      <div class="bar5"></div>
      <div class="bar6"></div>
      <div class="bar7"></div>
      <div class="bar8"></div>
    </div>
  </div>
</div>

<script>

    (function () {

        var click_event = DeviceInfo.browser == 'ie' ? 'click' : 'tap';

//        商品详情点击事件
        $('.button').bind(click_event, function (e) {
            e.preventDefault();
            e.stopPropagation();
            window.location.href = '/home/order?id=<%= @current_id%>';
        });
    })();

    document.addEventListener("orientationchange", updateLayout);

    // The wrapperWidth before orientationChange. Used to identify the current page number in updateLayout();
    wrapperWidth = 0;
    currentIndex = 0;

    var myScroll = new iScroll('wrapper', {
        snap: true,
        momentum: false,
        hScrollbar: false,
        vScrollbar: false,
        lockDirection: true,
        onScrollEnd: function () {
            var currentIndex = this.currPageX;
            $('.page span').each(function () {
                $(this).removeClass('selected');
            });
            $('.page span').eq(currentIndex).addClass('selected');

            load_img(currentIndex + 1);
        }
    });

    // 加载图片
    function load_img(index){
        var $wrapper = $('#pageScroller')
        var     selector = 'a:nth-child(' + index + ')',
                $loading = $('#loading'),
                $a = $wrapper.find(selector);

        if(!$a.find('img')[0]){
            $a.html($loading.html());
            var img = document.createElement('img');
            img.width = $(window).width();

            $(img).bind('load', function(){
                $a.html(img);
                setTimeout(function(){
                    $(img).addClass('load');
                }, 10);
            }).bind('error', function(){
                        $a.html('');
                    });
            img.src = $a.data('src');
        }

    }

    updateLayout();



    function updateLayout() {
        var currentPage = 0;
        if (wrapperWidth > 0) {
            currentPage = -Math.ceil($('#pageScroller').position().left / wrapperWidth);
        }
        wrapperWidth = $('#wrapper').width();
        $('#pageScroller').css('width', wrapperWidth * (<%=@goods['goods_albums'].length%>+1));
        $('.pic').css('width', wrapperWidth);
        myScroll.refresh();
        myScroll.scrollToPage(currentPage, 0, 0);
    }

</script>



