<style>
        /* button ------------- */
    .button {
        display: inline-block;
        zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
        *display: inline;
        vertical-align: baseline;
        margin: 0 2px;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        font: 14px/100% Arial, Helvetica, sans-serif;
        padding: .5em .4em .4em;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    }

    .button:hover {
        text-decoration: none;
    }

    .button:active {
        position: relative;
        top: 1px;
    }

        /* pink button */
        /* pink */
    .pink {
        color: #feeef5;
        border: solid 1px #e05281;
        background: #f895c2;
        background: -webkit-gradient(linear, left top, left bottom, from(#f06996), to(#eb3873));
        background: -moz-linear-gradient(top, #f06996, #eb3873);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
    }

    .pink:hover {
        background: #d57ea5;
        background: -webkit-gradient(linear, left top, left bottom, from(#eb3873), to(#f06996));
        background: -moz-linear-gradient(top, #f06996, #eb3873);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
    }

    .pink:active {
        color: #f3c3d9;
        background: -webkit-gradient(linear, left top, left bottom, from(#eb3873), to(#f06996));
        background: -moz-linear-gradient(top, #eb3873, #f06996);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
    }

    .extra {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #000;
        opacity: .6;
        padding: 10px;
        color: #ffffff;
        height: 30px;
        vertical-align: middle;
        text-align: match-parent;
        line-height: 30px;
        font-size: 14px;
    }

    .go-order {
        position: absolute;
        right: 30px;
        top: 10px;

    }

    .trigger a {
        width: 40px;
        height: 200px;
        top: 30%;
        text-align: center;
        display: block;
        position: fixed;
    }

    .trigger a img {
        margin-top: 60px;
    }

    .trigger .prev {
        left: 0;
    }

    .trigger .next {
        right: 0;
        margin-right: 10px;
    }

        /*.h_title {*/

        /*width: calc(100%-160px);*/
        /*width: -webkit-calc(100% -160px);*/
        /*width: -moz-calc(100% -160px);*/
        /*margin: 0 60px 0 60px;*/
        /*height: 40px;*/
        /*text-align: center;*/
        /*text-overflow: ellipsis;*/
        /*overflow: hidden;*/
        /*white-space: nowrap;*/
        /*line-height: 40px;*/
        /*color: #ffffff;*/
        /*font-size: 14px;*/
        /*text-shadow: 0 1px 0 #000000;*/
        /*font-family: STHeitiSC-Light, STHeiti;*/
        /*}*/

    .product_img {
        margin-bottom: 5px;
    }

        /*.img_wrap {*/
        /*width: 210px;*/
        /*height: 280px;*/
        /*float: left;*/
        /*left: 50%;*/
        /*position: relative;*/
        /*margin-left: -112px;*/
        /*overflow: hidden;*/
        /*}*/

    .img_wrap > div {
        width: auto;
        height: 100%;
    }

        /*.img_wrap > div > a {*/
        /*float: left;*/
        /*width: 208px;*/
        /*height: 280px;*/
        /*margin: 0 1px;*/
        /*overflow: hidden;*/
        /*}*/

        /*.img_wrap > div > a > img {*/
        /*width: 210px;*/
        /*height: 280px;*/
        /*-webkit-transform: translate3d(0, 0, 0);*/
        /*-webkit-backface-visibility: hidden;*/
        /*}*/
    .pro_name {
        margin: 15px 9px 0;
        line-height: 20px;
        text-align: left;
        font-size: 13px;
        color: #2f2f2f;
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(252, 252, 252, 0.26);
        -moz-text-shadow: 0 1px 0 rgba(252, 252, 252, 0.26);
        -webkit-text-shadow: 0 1px 0 rgba(252, 252, 252, 0.26);
        line-height: 20px;
    }

</style>

<script>
    (function () {
        var slide_style = function () {
            var width, height, left;
            if (DeviceInfo.width <= 640) {
                left = -90;
                width = '180';
                height = '240';
            } else {
                left = -112;
                width = '240';
                height = '320';
            }

            var style = [
                '<style type="text/css">',
                '.img_wrap{width:' + width + 'px;height:' + height + 'px ;float: left;left: 50%;position: relative;margin-left: ' + left + 'px;overflow: hidden;}',
                '.img_wrap > div > a{width:' + (width - 2) + 'px;height:' + height + 'px ;float: left;margin: 0 1px;overflow: hidden;}',
                '.img_wrap > div > a > img{width:' + (width - 2) + 'px;height:' + height + 'px ;-webkit-transform: translate3d(0, 0, 0);-webkit-backface-visibility: hidden;}',
                '</style>'
            ]
            $('head').append(style.join(' '));
        };
        slide_style();
    })();
</script>


<header>
  <div class="navigation">
    <div></div>
  </div>
  <div class="title"><%= Setting.app_name %></div>
</header>

<!--  nav  -->
<%= render :partial => 'common/nav' %>
<!--  end nav  -->
<section id='product'>
  <div class="product_img">
    <div id='img_wrap' class="img_wrap" data-width="<%= (@goods["goods_albums"].length + 1) %>">
      <div>
        <a class="pic" data-href="<%= @goods['detail_photo'] %>" data-src="<%= @goods['detail_photo'] %>">
        </a>
        <% @goods['goods_albums'].each do |album| %>
            <a data-href="<%= album['photo'] %>" class="pic" data-src="<%= album['photo'] %>">
            </a>
        <% end %>
      </div>
    </div>

    <div class="trigger">
      <% if @pre_id %>
          <a id='trigger_1' data-src="<%= @pre_id %>" class="prev"><img src="<%= asset_path('prev.png') %>" width="48px" height="80px"/></a>
      <% else%>
          <a id='trigger_1' data-src="<%= @pre_id %>" class="prev hide"><img src="<%= asset_path('prev.png') %>" width="48px" height="80px"/></a>
      <% end %>

      <% if @next_id %>
          <a id='trigger_2' data-src="<%= @next_id %>" class="next"><img src="<%= asset_path('next.png') %>" width="48px" height="80px"/></a>
      <% else%>
          <a id='trigger_2' data-src="<%= @next_id %>" class="next hide"><img src="<%= asset_path('next.png') %>" width="48px" height="80px"/></a>
      <% end %>

    </div>
    <div style="clear:both;"></div>
    <!-- active -->
    <div id='slide' class="slide">
      <li></li>
      <% @goods["goods_albums"].each_with_index do |album, index| %>
          <% if index < 8 %>
              <li></li>
          <% end %>
      <% end %>
    </div>


  </div>

  <!-- 详情 -->
  <p id='pro_name' class="pro_name"><%= @goods['name'] %> </p>
  <!-- safari 不超出屏幕 不会隐藏 地址栏-->
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>


  <div class="extra">
    <p id='price' class="price">
      <% if @goods["old_price"] %>
          市场价:
          <del>￥<%= @goods["old_price"].to_i %></del>
      <% end %>

      <b>mm价: ￥<%= @goods["sale_price"].to_i %></b>
    </p>
    <p class="go-order">
      <button id='button' data-src="<%= @current_id%>" class="button pink">点击体验试穿</button>
    </p>
  </div>

</section>
<!-- loading -->
<div id='loading' class='hide'>
  <style type="text/css">
      .order_load {

          width: 225px;
          height: 225px;
          float: left;
          left: 50%;
          position: relative;
          margin-left: -112px;
      }

      .loading32 {
          position: relative;
          margin: 0 auto;
          top: 62px;
          width: 100px;
          height: 100px;
          position: absolute;
          left: 50%;
          margin-left: -50px;
          -webkit-border-radius: 100px;
          -webkit-animation-duration: 1.5s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear;
          -webkit-animation-name: rotateThis16;
          -moz-border-radius: 100px;
          -moz-animation-duration: 1.5s;
          -moz-animation-iteration-count: infinite;
          -moz-animation-timing-function: linear;
          -moz-animation-name: rotateThis16;
      }

      @-webkit-keyframes rotateThis16 {
          from {
              -webkit-transform: scale(0.32) rotate(0deg);
          }
          to {
              -webkit-transform: scale(0.32) rotate(360deg);
          }
      }

      @-moz-keyframes rotateThis16 {
          from {
              -moz-transform: scale(0.32) rotate(0deg);
          }
          to {
              -moz-transform: scale(0.32) rotate(360deg);
          }
      }

      .loading32>div {
          width: 16px;
          height: 16px;
          background-color: #a6a6a6;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -o-border-radius: 30px;
          border-radius: 30px;
          position: absolute;
          left: 42px;
          top: 42px;
      }

      .bar1 {
          opacity: 0.3;
          -webkit-transform: rotate(0deg) translate(0, -42px);
          -moz-transform: rotate(0deg) translate(0, -42px);
      }

      .bar2 {
          opacity: 0.4;
          -webkit-transform: rotate(45deg) translate(0, -42px);
          -moz-transform: rotate(45deg) translate(0, -42px);
      }

      .bar3 {
          opacity: 0.5;
          -webkit-transform: rotate(90deg) translate(0, -42px);
          -moz-transform: rotate(90deg) translate(0, -42px);
      }

      .bar4 {
          opacity: 0.6;
          -webkit-transform: rotate(135deg) translate(0, -42px);
          -moz-transform: rotate(135deg) translate(0, -42px);
      }

      .bar5 {
          opacity: 0.7;
          -webkit-transform: rotate(180deg) translate(0, -42px);
          -moz-transform: rotate(180deg) translate(0, -42px);
      }

      .bar6 {
          opacity: 0.8;
          -webkit-transform: rotate(225deg) translate(0, -42px);
          -moz-transform: rotate(225deg) translate(0, -42px);
      }

      .bar7 {
          opacity: 0.9;
          -webkit-transform: rotate(270deg) translate(0, -42px);
          -moz-transform: rotate(270deg) translate(0, -42px);
      }

      .bar8 {
          opacity: 1;
          -webkit-transform: rotate(315deg) translate(0, -42px);
          -moz-transform: rotate(315deg) translate(0, -42px);
      }
  </style>
  <div class="order_load">
    <div class="loading32">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <div class="bar4"></div>
      <div class="bar5"></div>
      <div class="bar6"></div>
      <div class="bar7"></div>
      <div class="bar8"></div>
    </div>
  </div>
</div>

<script>

    var scroll;

    (function () {

        var click_event = DeviceInfo.browser == 'ie' ? 'click' : 'tap';

        $(".trigger a").bind(click_event, function (e) {
            e.preventDefault();
            e.stopPropagation();
            var $this = $(this);
            var goods_id = $this.data('src')
            $.getJSON('/home/next?id=' + goods_id, function (data) {

                var state = { //这里可以是你想给浏览器的一个State对象，为后面的StateEvent做准备。
                    title : "HTML 5 History API simple demo",
                    url : "http://www.baidu.com"
                };

                var state = {title:'',url:window.location.href.split("?")[0]};
                history.pushState(state, "HTML 5 History API simple demo", '?id='+goods_id);

                var current_id = data.id
                var name = data.name
                var albums = data.goods_albums;
                var sale_price = data.sale_price;
                var old_price = data.old_price;
                var photo_pic = data.shop.photo;
                var photos = [];
                photos.push(data.detail_photo);
                for (var i = 0; i < albums.length; i++) {
                    var photo = albums[i].photo;
                    photos.push(photo);
                }

                var albums = $('#img_wrap');
                var albums_str = "<div>";
                var active_str = '';

                for (var i = 0; i < photos.length; i++) {
                    var obj = photos[i];
                    albums_str += ' <a class="pic" data-href=' + obj + ' data-src=' + obj + '></a>';

                    if (i < 8) {
                        active_str += ' <li></li>';
                    }
                }

                albums.attr("data-width", photos.length);

                albums_str += "</div>"
                albums.html(albums_str);

                $('#slide').html(active_str);
                $('#pro_name').text(name);
                $('head title').text('<%= Setting.app_name%>-'+name);

                var price_html = '';

                if (old_price != null) {
                    price_html += '市场价:<del>￥' +Math.floor(old_price)  + '</del> ';
                }
                price_html += '<b>mm价: ￥' + Math.floor(sale_price) + '</b>';
                $('#price').html(price_html);

                $('#button').attr("data-src", goods_id);

                if(data.pre_id == null){
                    if(!$('#trigger_1').hasClass('hide')){
                        $('#trigger_1').addClass('hide')
                    }
                }else{
                    if($('#trigger_1').hasClass('hide')){
                        $('#trigger_1').removeClass('hide')
                    }

                    $('#trigger_1').attr("data-src", data.pre_id);
                }

                if(data.next_id == null){
                    if(!$('#trigger_2').hasClass('hide')){
                        $('#trigger_2').addClass('hide')
                    }
                }else{
                    if($('#trigger_2').hasClass('hide')){
                        $('#trigger_2').removeClass('hide')
                    }
                    $('#trigger_2').attr("data-src", data.next_id);
                }





                var direction = 'landscape';

                // 初始化图片slide
                var $wrapper = $('.img_wrap'),
                        $slide = $('.slide'),
                        length = $wrapper.data('width') * 1,
                        width = $wrapper.width(),
                        $body = $('body');


                $slide.find('li:nth-child(1)').addClass('active');  //提示点初始化
                $wrapper.children('div').css('width', width * length); //iscroll内层动态计算宽度

                $body.bind('touchstart', function (e) {
                    var point = e.touches[0],
                            startPageX = point.pageX,
                            startPageY = point.pageY;
                    $body.bind('touchmove', function (e) {
                        var point = e.touches[0],
                                movePageX = point.pageX,
                                movePageY = point.pageY;
                        if (Math.abs(movePageX - startPageX) < Math.abs(movePageY - startPageY)) {
                            direction = 'portrait';
                        } else {
                            direction = 'landscape';
                        }
                        $body.unbind('touchmove');
                    });
                });
                // 销毁原来的
                scroll.destroy();

                scroll = new iScroll($wrapper[0], {
                    x: (0),
                    currPageX: 0,
                    snap: true,
                    momentum: false,
                    vScroll: false,
                    hScrollbar: false,
                    onBeforeScrollStart: function () {
                    },
                    onBeforeScrollMove: function () {
                        if (direction == 'portrait') {
                            this._unbind('touchmove', window);
                            this._unbind('touchend', window);
                            this._unbind('touchcancel', window);
                            return;
                        }
                    },
                    onScrollMove: function (e) {
                        if (this.dirY == 0) e.preventDefault();
                    },
                    onScrollEnd: function () {
                        var ci = this.currPageX + 1;
                        indicator_update(ci);
                        load_img(ci);
                    }
                });
                $wrapper.find('a').bind('itap', function () {
                    var $this = $(this);
                    window.location.href = $this.data('href');
                });

                load_img(1)


            });
        });
//        商品详情点击事件
        $('.button').bind(click_event, function (e) {
            e.preventDefault();
            e.stopPropagation();
            var id =  $(this).data('src');
            window.location.href = '/home/order?id='+id;
        });

        var direction = 'landscape';

        // 初始化图片slide
        var $wrapper = $('.img_wrap'),
                $slide = $('.slide'),
                length = $wrapper.data('width') * 1,
                width = $wrapper.width(),
                $body = $('body');


        $slide.find('li:nth-child(1)').addClass('active');  //提示点初始化
        $wrapper.children('div').css('width', width * length); //iscroll内层动态计算宽度

        $body.bind('touchstart', function (e) {
            var point = e.touches[0],
                    startPageX = point.pageX,
                    startPageY = point.pageY;
            $body.bind('touchmove', function (e) {
                var point = e.touches[0],
                        movePageX = point.pageX,
                        movePageY = point.pageY;
                if (Math.abs(movePageX - startPageX) < Math.abs(movePageY - startPageY)) {
                    direction = 'portrait';
                } else {
                    direction = 'landscape';
                }
                $body.unbind('touchmove');
            });
        });

        scroll = new iScroll($wrapper[0], {
            x: (0),
            currPageX: 0,
            snap: true,
            momentum: false,
            vScroll: false,
            hScrollbar: false,
            onBeforeScrollStart: function () {
            },
            onBeforeScrollMove: function () {
                if (direction == 'portrait') {
                    this._unbind('touchmove', window);
                    this._unbind('touchend', window);
                    this._unbind('touchcancel', window);
                    return;
                }
            },
            onScrollMove: function (e) {
                if (this.dirY == 0) e.preventDefault();
            },
            onScrollEnd: function () {
                var ci = this.currPageX + 1;
                indicator_update(ci);
                load_img(ci);
            }
        });
        //幻灯提示点同步
        function indicator_update(x) {
            $slide.children('.active').removeClass('active');
            $slide.find('li:nth-child(' + x + ')').addClass('active');
        };
        function scroll_to(x) {
            var pageX = scroll.currPageX + x;
            scroll.scrollToPage(pageX, 0, 300);
        };
        $wrapper.find('a').bind('itap', function () {
            var $this = $(this);
            window.location.href = $this.data('href');
        });

        load_img(1)

        // 加载图片
        function load_img(index) {
            var selector = 'a:nth-child(' + index + ')',
                    $loading = $('#loading'),
                    $a = $wrapper.find(selector);
            if (!$a.find('img')[0]) {
                $a.html($loading.html());
                var img = document.createElement('img');
                if (DeviceInfo.width <= 640) {
                    img.width = '180';
                    img.height = '240';
                } else {
                    img.width = '240';
                    img.height = '320';
                }

                $(img).bind('load',function () {
                    $a.html(img);
                    setTimeout(function () {
                        $(img).addClass('load');
                    }, 10);
                }).bind('error', function () {
                            $a.html('');
                        });
                img.src = $a.data('src');
            }
        }

    })();


</script>



