<style>

        /* button ------------- */
    .button {
        display: inline-block;
        zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
        *display: inline;
        vertical-align: baseline;
        margin: 0 2px;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        font: 14px/100% Arial, Helvetica, sans-serif;
        padding: .5em 2em .55em;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    }

    .button:hover {
        text-decoration: none;
    }

    .button:active {
        position: relative;
        top: 1px;
    }

        /* pink button */
    .button.pink {
        color: #feeef5;
        border: solid 1px #d2729e;
        background: #f895c2;
        background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
        background: -moz-linear-gradient(top, #feb1d3, #f171ab);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
    }

    .button.pink:hover {
        background: #d57ea5;
        background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
        background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
    }

    .button.pink:active {
        color: #f3c3d9;
        background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
        background: -moz-linear-gradient(top, #f171ab, #feb1d3);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
    }

        /*gallery*/
    .gallery {
        width: auto;
        height: calc(100% -60px);
    }

    .gallery img {
        vertical-align: middle;
    }

    .gallery .wrapper {
        overflow: hidden;
        height: 100%;
    }

    .gallery .pic {
        width: 100%;
        height: 100%;
        float: left;
        text-align: center;
    }

    .gallery #pageScroller {
        width: 100%;
        height: 100%;
        float: left;
        text-align: center;
    }

    .gallery .pic span {
        display: inline-block;
        vertical-align: middle;
        visibility: hidden;
        width: 1px;
        height: 100%;
    }

    .gallery .extra {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #000;
        opacity: .6;
        padding: 10px;
        color: #ffffff;
        height: 30px;
        vertical-align: middle;
        text-align: match-parent;
        line-height: 30px;
        font-size: 14px;
    }

    .gallery .go-order {
        position: absolute;
        right: 30px;
        top: 10px;

    }

    .gallery .page {
        text-align: center;
        position: absolute;
        top: 60px;
        width: 100%;
    }

    .gallery .page span {
        font-size: 0;
        border: 5px solid #f2f2f2;
        border-radius: 5px;
        margin: 0 5px;
    }

    .gallery .page .selected {
        border-color: #000;
    }

    .gallery .trigger a {
        width: 80px;
        height: 80px;
        top: 50%;
        display: block;
        position: fixed;
    }

    .gallery .trigger .prev {
        left: 0;
    }

    .gallery .trigger .next {
        right: 0;
    }

</style>

<header>
  <div class="navigation">
    <div></div>
  </div>
  <div class="title"><%= @goods["name"] %></div>
</header>

<!--  nav  -->
<%= render :partial => 'common/nav' %>
<!--  end nav  -->

<article class="gallery">
  <div id="wrapper" class="wrapper">
    <div id="pageScroller">
      <div class="pic">
        <img src="<%= @goods['detail_photo'] %>" width="100%">
      </div>
      <% @goods["goods_albums"].each do |album| %>
          <div class="pic">
            <img src="<%= album['photo'] %>" width="100%">
          </div>
      <% end %>
    </div>
  </div>
  <div class="trigger">
    <% if @pre_id %>
        <a href="/home/detail?id=<%= @pre_id %>" class="prev"><img src="<%= asset_path('prev.png') %>"/></a>
    <% end %>

    <% if @next_id %>
        <a href="/home/detail?id=<%= @next_id %>" class="next"><img src="<%= asset_path('next.png') %>"/></a>
    <% end %>

  </div>

  <div class="page">
    <span class="selected">1</span>
    <% @goods["goods_albums"].each do |album| %>
        <span>1</span>
    <% end %>
  </div>
  <div class="extra">
    <p class="price">
      <del>市场价: ￥<%= @goods["old_price"]%></del>
      <b>MM价: ￥<%= @goods["sale_price"]%></b></p>
    <p class="go-order">
      <button class="button pink">点击体验试穿</button>
    </p>
  </div>
  </div>
</article>

<script>

    (function () {

        var click_event = DeviceInfo.browser == 'ie' ? 'click' : 'tap';

//        商品详情点击事件
        $('.button').bind(click_event, function (e) {
            e.preventDefault();
            e.stopPropagation();
            window.location.href = '/home/order?id=<%= @current_id%>';
        });
    })();

    document.addEventListener("orientationchange", updateLayout);

    // The wrapperWidth before orientationChange. Used to identify the current page number in updateLayout();
    wrapperWidth = 0;
    currentIndex = 0;

    var myScroll = new iScroll('wrapper', {
        snap: true,
        momentum: false,
        hScrollbar: false,
        vScrollbar: false,
        lockDirection: true,
        onScrollEnd: function () {
            var currentIndex = this.currPageX;
            $('.page span').each(function () {
                $(this).removeClass('selected');
            });
            $('.page span').eq(currentIndex).addClass('selected');
        }
    });

    updateLayout();

    function updateLayout() {
        var currentPage = 0;
        if (wrapperWidth > 0) {
            currentPage = -Math.ceil($('#pageScroller').position().left / wrapperWidth);
        }
        wrapperWidth = $('#wrapper').width();
        $('#pageScroller').css('width', wrapperWidth * (<%=@goods['goods_albums'].length%>+1));
        $('.pic').css('width', wrapperWidth);
        myScroll.refresh();
        myScroll.scrollToPage(currentPage, 0, 0);
    }

</script>



