<script type="text/javascript">
    (function () {
        var slide_style = function () {
            // var width = DeviceInfo.width / DeviceInfo.ratio - 8;
            var width = $(window).width() - 8;
            var height = width / 2;
//            alert("width="+width+"  height="+height);
            var style = [
                '<style type="text/css">',
                '.slide_width{width:' + width + 'px !important;}',
                '.slide_height{height:' + height + 'px !important;}',
                '.slide_scroll_width{width:' + width * 3 + 'px !important;}',
                '</style>'
            ]
            $('head').append(style.join(' '));
        };

        var add_ratio_class = function () {
            var class_name = 'ratio' + DeviceInfo.ratio;
            $('body').removeClass('ratio1').addClass(class_name.replace('.', '_'));
        };

        if (!(DeviceInfo.browser == 'firefox' || (DeviceInfo.os == 'wp' && DeviceInfo.browser == 'ie'))) {
            slide_style();
        } else {
            $(function () {
                DeviceInfo.ratio = DeviceInfo.width / window.innerWidth;
                // 设置样式
                slide_style();
                // 更新cookie
                set_cookie('ratio', DeviceInfo.ratio, 365);
                // body上添加class
                add_ratio_class();
            });
        }

    })();
</script>

<style type="text/css">
    .top_bar {
        height: 45px;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#222));
        line-height: 45px;
        font-size: 18px;
        text-align: center;
        color: #FFF;
        font-weight: bold;
    }

    .img_wrap a {
        width: 320px;
        float: left;
        height: 155px;
    }

    .slide {
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -30px;
        z-index: 1;
    }

    .scroll_box {
        margin: 0 auto;
    }

    .slide_bar {
        position: relative;
        width: 100%;
        padding: 6px 0;
        overflow: hidden;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
        margin: 7px 0 2px;
        overflow: hidden;
    }

    .con_main table {
        border: medium none;
        margin-top: 10px;
        width: 100%;
    }

    .sort {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        font-size: 16px;
        text-align: center;
        width: 97px;
    }

    .sort div {
        /*height: 50px;*/
        /*width: 50px;*/
    }

    .sort div img {
        height: 100%;
        float: left;
    }

    .down {
        margin: 15px 35px;
        overflow: hidden;
        border: 1px solid #DDD;
        background: #FFF;
        text-align: center;
        padding: 10px;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#EEE));
        border-radius: 0.5em;
    }

    .down a {
        width: 100%;
        height: 100%;
        display: block;
        font-size: 14px;
        color: #333;
    }

    body a{outline:none;blr:expression(this.onFocus=this.blur());}

        /************ table ****************/

</style>

<div class="top_bar">宁波试衣MM</div>
<div class="main">
  <!-- 回到头部 -->

  <!-- 滑动大图 -->
  <div class="slide_bar m_bg">
    <div style="overflow: hidden;" class="slide_width slide_height scroll_box">
      <div style="-moz-transition-property: -moz-transform; -moz-transform-origin: 0pt 0pt; -moz-transform: translate(0px, 0px) scale(1);" class="img_wrap slide_scroll_width slide_height">
        <a class="slide_a slide_width slide_height">
          <img class="slide_width slide_height" src="<%= asset_path('d1.jpg') %>">
        </a>
        <a class="slide_a slide_width slide_height">
          <img class="slide_width slide_height" src="<%= asset_path('d2.jpg')%>">
        </a>
        <a class="slide_a slide_width slide_height">
          <img class="slide_width slide_height" src="<%= asset_path('d3.jpg')%>">
        </a>
        <!--
        <div class="bar left"></div>
        <div class="bar right"></div> -->
      </div>
      <!-- active -->
      <div class="slide margin5">
        <li class="active"></li>
        <li></li>
        <li></li>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
    (function () {
        var
                $wrapper = $('.scroll_box'),
                $slide = $wrapper.children('.slide'),
//                $left = $('.left.arrow'),
//                $right = $('.right.arrow'),
                auto_slide,
                $body = $('body'),
                direction = 'landscape',

                scroll = new iScroll($wrapper[0], {
                    snap: true,
                    momentum: false,
                    vScroll: false,
                    hScrollbar: false,
                    onBeforeScrollStart: function () {
                    },
                    onBeforeScrollMove: function () {
                        if (direction == 'portrait') {
                            this._unbind('touchmove', window);
                            this._unbind('touchend', window);
                            this._unbind('touchcancel', window);
                            return;
                        }
                    },
                    onScrollMove: function (e) {
                        if (this.dirY == 0) e.preventDefault();
                    },
                    onScrollEnd: function () {
                        indicator_update(this.currPageX + 1);
                    }
                });


//        alert($right.length)
        $body.bind('touchstart', function (e) {
            var point = e.touches[0],
                    startPageX = point.pageX,
                    startPageY = point.pageY;
            $body.bind('touchmove', function (e) {
                var point = e.touches[0],
                        movePageX = point.pageX,
                        movePageY = point.pageY;
                if (Math.abs(movePageX - startPageX) < Math.abs(movePageY - startPageY)) {
                    direction = 'portrait';
                } else {
                    direction = 'landscape';
                }
                $body.unbind('touchmove');
            });
        });

        //幻灯提示点同步
        function indicator_update(x) {
            $slide.children('.active').removeClass('active');
            $slide.find('li:nth-child(' + x + ')').addClass('active');
//            $left.toggleClass('hide', x == 1);
//            $right.toggleClass('hide', x == 4);
        };

        function scroll_to(x) {
            var pageX = scroll.currPageX + x;
            scroll.scrollToPage(pageX, 0, 500);
        };

//        $left.bind('itap', function () {
//            scroll_to(-1);
//        });
//
//        $right.bind('itap', function () {
//            scroll_to(1);
//        });

        $wrapper.bind('touchstart', function () {
            if (auto_slide) clearInterval(auto_slide);
        });

        $wrapper.bind('touchend', function () {
            interval();
        });

//        $('.slide_a').bind('itap', function (e) {
//            var $this = $(this);
//            window.location.href = $this.data('href');
//        });

        function interval() {
            if (auto_slide) clearInterval(auto_slide);
            auto_slide = setInterval(function () {
                scroll.scrollToPage((scroll.currPageX + 1) % 3, 0, 500)
            }, 5000);
        };
        interval();
    })();

</script>
<div class="con_main">
  <table id='table'>
    <tbody>
    <tr>
      <td class="sort">
        <div>
          <a href="home/list?id=240">
              <img src="<%= asset_path('pin1.jpg') %>" />
          </a>
        </div>
      </td>
      <td class="sort">
        <div>
          <a href="home/list?id=217">
            <img src="<%= asset_path('pin2.jpg') %>" />
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="sort">
        <div>
          <a href="home/list?id=229">
            <img src="<%= asset_path('pin3.jpg') %>" />
          </a>
        </div>
      </td>
      <td class="sort">
        <div>
          <a href="home/list?id=148">
            <img src="<%= asset_path('pin4.jpg') %>" />
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="sort">
        <div>
          <a href="home/list?id=235">
            <img src="<%= asset_path('pin5.jpg') %>" />
          </a>
        </div>
      </td>
      <td class="sort">
        <div>
          <a href="home/list?id=238">
            <img src="<%= asset_path('pin6.jpg') %>" />
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="sort">
        <div>
          <a href="home/list?id=236">
            <img src="<%= asset_path('pin7.jpg') %>" />
          </a>
        </div>
      </td>
      <td class="sort">
        <div>
          <a href="home/list?id=221">
            <img src="<%= asset_path('pin8.jpg') %>" />
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="sort">
        <div>
          <a href="home/list?id=237">
            <img src="<%= asset_path('pin9.jpg') %>" />
          </a>
        </div>
      </td>
      <td class="sort">
        <div>
          <a href="home/list?id=75">
            <img src="<%= asset_path('pin10.jpg') %>" />
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="sort">
        <div>
          <a href="home/list?id=239">
            <img src="<%= asset_path('pin11.jpg') %>" />
          </a>
        </div>
      </td>
      <td class="sort">
        <div>
          <a href="home/list?id=232">
            <img src="<%= asset_path('pin12.jpg') %>" />
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="sort">
        <div>
          <a href="home/list?id=241">
            <img src="<%= asset_path('pin13.jpg') %>" />
          </a>
        </div>
      </td>
      <td class="sort">
        <div>
          <a href="home/list?id=233">
            <img src="<%= asset_path('pin14.jpg') %>" />
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="down"><a href="http://www.shiyimm.com">下载手机客户端</a></div>
</div>

<script type="text/javascript">
    // 通过滑动显示delete按钮

</script>
