<style>

    .product {
        font-size: 13px;
        text-align: center;
        overflow: hidden;
        line-height: 15px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        float: left;
        width: 50%;
        height: auto;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin-bottom: 10px;
    }

    .img_wrap {
        width: 100%;
        height: auto;
        margin: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

        /*margin: 0 auto;*/
    }

        /* 分页 */
    .page {
        text-align: center;
        font-size: 15px;
        color: #bfbfbf;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.26);
        -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.26);
        -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.26);
        margin: 15px 0;
        line-height: 1.8em;
    }

    .page .up_page,
    .page .down_page {
        width: 30%;
        height: 25px;
        line-height: 2.08em;
        border: 1px solid rgba(153, 153, 153, 0.5);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.26);
        -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.26);
        -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.26);
        font-size: 12px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background: #eeeeee;
    }

    .up_page.disabled a,
    .down_page.disabled a,
    .uc .down_page.disabled a {
        color: #cccccc !important;
    }

    .down_page a,
    .up_page a,
    .uc .down_page a {
        color: #333333 !important;
        text-shadow: 0 1px 0 #ffffff;
        -webkit-text-shadow: 0 1px 0 #ffffff;
        -moz-text-shadow: 0 1px 0 #ffffff;
    }

    .page span {
        color: #666666;
    }

</style>


<script type="text/javascript">
    var width = ($(window).width() - 10) / 2;
    var height = width * 96 / 72;
    var style = [
        '<style type="text/css">',
        '.img_wrap img{width:' + width + 'px !important;height:' + height + 'px !important;}',
        '</style>'
    ]
    $('head').append(style.join(' '));
</script>

<header>
  <div id='navigation' class="navigation">
    <div></div>
  </div>

  <div class="title">宁波试衣MM</div>
</header>

<!--  nav  -->
<div class="nav_layer hide">
  <div class="nav_body">
    <div class="nav_arrow"></div>
    <a data-href="/" class="nav_enter">
      <div class="nav_home"><span></span>

        <p>COCO DEAL</p></div>
    </a>
    <a data-href="" class="nav_enter">
      <div class="nav_new"><span></span>

        <p>FIVE PLUS</p></div>
    </a>
    <a data-href="/brands" class="nav_enter">
      <div class="nav_brand"><span></span>

        <p>H&M</p></div>
    </a>
    <a data-href="/stores" class="nav_enter">
      <div class="nav_shop"><span></span>

        <p>LILY</p></div>
    </a>
    <a class="nav_space nav_enter" data-href="/categories?target=male">
      <div class="nav_men"><span></span>

        <p>MANGO</p></div>
    </a>
    <a data-href="" class="nav_enter">
      <div class="nav_women"><span></span>

        <p>MS</p></div>
    </a>
    <a data-href="" class="nav_enter">
      <div class="nav_furniture"><span></span>

        <p>OCHIRLY</p></div>
    </a>
    <a data-href="/products?where[category1_id]=203" class="nav_enter">
      <div class="nav_treasure"><span></span>

        <p>ONLY</p></div>
    </a>
    <a data-href="/products?where[category1_id]=193" class="nav_enter">
      <div class="nav_outdoor"><span></span>

        <p>UNIQLO</p></div>
    </a>
    <a class="nav_space nav_enter" data-href="/user_center" class="nav_enter">
      <div class="nav_account"><span></span>

        <p>VERO MODA</p></div>
    </a>
    <a class="check_order nav_enter" data-href="/trades?status=receive">
      <div class="nav_order"><span></span>

        <p>ZARA</p></div>
    </a>
  </div>
  <div class="nav_other"></div>
</div>
<!--  end nav  -->

<div class="main">
  <section style="margin-top: 10px;">
    <% @goods_list.each do |goods| %>
        <div class="product">
          <a data-href="/home/detail?id=<%= goods['id'] %>&page=<%= @page %>&brand_id=<%= @id %>">
            <div class="img_wrap">
              <img src="<%= goods['photo_url'] %>">
            </div>
          </a>
        </div>
    <% end %>

    <div style="clear: both"></div>

    <div class="page">

      <% if @page == 1 %>

      <% else %>
          <div class="up_page left">
            <a href='/home/list?id=<%= @id %>&page=<%= (@page-1) %>'>上一页</a>
          </div>
      <% end %>


      <!--判断是否有下一页-->
      <% if @goods_list.blank? or @goods_list.length < 14 %>
      <% else %>
          <div class="down_page right">
            <a href='/home/list?id=<%= (@id) %>&page=<%= (@page+1) %>'>下一页</a>
          </div>
      <% end %>
      <div style="clear: both;"/>
    </div>

  </section>

</div>
<footer>
  <p>© 2013-试衣MM</p>

  <p><a href="http://d.shiyimm.com">android客户端</a></p>

  <p><a href="http://itunes.apple.com/cn/app/id655655105">iphone客户端</a></p>
</footer>

<script>

    (function () {

        var click_event = DeviceInfo.browser == 'ie' ? 'click' : 'tap';
        var nav_event = DeviceInfo.browser == 'ie' ? 'click' : 'itap';

//        商品详情点击事件
        $('.product a').bind(click_event, function (e) {
            var
                    $dom = $(this),
                    link = $dom.data('href');
            $dom.attr('href', link);
        });

        var $nav = $('.navigation'),
                $nav_layer = $('.nav_layer'),
                $main = $('.main'),
                $footer = $('footer'),
                $nav_other = $nav_layer.find('.nav_other'),
                $nav_enter = $nav_layer.find('.nav_enter'),
                height = $(window).height() - 46,
                width = $(window).width();

        $nav_layer.find('.nav_body').width(width * 0.59375);
        $main.css('min-height', height - 46);

        <!-- 导航事件绑定 -->
        $nav.bind(nav_event, function () {
            $nav.addClass('push');
            $nav_layer.toggleClass('hide');
            if ($nav_layer.hasClass('hide')) {
                $main.css('height', 'auto');
                $footer.removeClass('hide');
            } else {
                if (height > 570) {
                    $nav_layer.css('height', height);
                } else {
                    $nav_layer.css('height', 570);
                }
                if ($main.height() > height) {
                    var main_height = $nav_layer.height();
                    $main.css('height', main_height);
                    $footer.addClass('hide');
                }
            }

            setTimeout(function () {
                $nav.removeClass('push');
            }, 1000)
        });

        <!-- 浮层事件绑定 -->
        $nav_other.width(width * 0.40625);

        $nav_other.bind('click', function () {
            $nav_layer.addClass('hide');
            $main.css('height', 'auto');
            $footer.removeClass('hide');
            return false;
        });

        <!-- 品牌点击事件-->
        $nav_enter.bind(click_event, function (e) {
            var
                    $dom = $(this),
                    link = $dom.data('href');
            $dom.addClass('push');
            $dom.attr('href', link);
            $dom.siblings().removeClass('push');
        });

    })();

</script>

