<style>

    .product {
        font-size: 13px;
        text-align: center;
        overflow: hidden;
        line-height: 15px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        float: left;
        width: 50%;
        height: auto;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin-bottom: 10px;
    }

    .img_wrap {
        width: 100%;
        height: auto;
        margin: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

        /*margin: 0 auto;*/
    }

        /* 分页 */
    .page {
        text-align: center;
        font-size: 15px;
        color: #bfbfbf;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.26);
        -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.26);
        -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.26);
        margin: 15px 0;
        line-height: 1.8em;
    }

    .page .up_page,
    .page .down_page {
        width: 30%;
        height: 25px;
        line-height: 2.08em;
        border: 1px solid rgba(153, 153, 153, 0.5);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.26);
        -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.26);
        -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.26);
        font-size: 12px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background: #eeeeee;
    }

    .up_page.disabled a,
    .down_page.disabled a,
    .uc .down_page.disabled a {
        color: #cccccc !important;
    }

    .down_page a,
    .up_page a,
    .uc .down_page a {
        color: #333333 !important;
        text-shadow: 0 1px 0 #ffffff;
        -webkit-text-shadow: 0 1px 0 #ffffff;
        -moz-text-shadow: 0 1px 0 #ffffff;
    }

    .page span {
        color: #666666;
    }

</style>


<script type="text/javascript">
    var width = ($(window).width() - 10) / 2;
    var height = width * 96 / 72;
    var style = [
        '<style type="text/css">',
        '.img_wrap img{width:' + width + 'px !important;height:' + height + 'px !important;}',
        '</style>'
    ]
    $('head').append(style.join(' '));
</script>

<header>
  <div id='navigation' class="navigation">
    <div></div>
  </div>

  <div class="title">宁波试衣MM</div>
</header>

<!--  nav  -->
<%= render :partial => 'common/nav' %>
<!--  end nav  -->

<div class="main">
  <section style="margin-top: 10px;">
    <% @goods_list.each do |goods| %>
        <div class="product">
          <a data-href="/home/detail?id=<%= goods['id'] %>&brand_id=<%= @id %>">
            <div class="img_wrap">
              <img src="<%= goods['photo_url'] %>">
            </div>
          </a>
        </div>
    <% end %>

    <div style="clear: both"></div>

    <div class="page">

      <% if @page == 1 %>

      <% else %>
          <div class="up_page left">
            <a href='/home/list?id=<%= @id %>&page=<%= (@page-1) %>'>上一页</a>
          </div>
      <% end %>


      <!--判断是否有下一页-->
      <% if @goods_list.blank? or @goods_list.length < 14 %>
      <% else %>
          <div class="down_page right">
            <a href='/home/list?id=<%= (@id) %>&page=<%= (@page+1) %>'>下一页</a>
          </div>
      <% end %>
      <div style="clear: both;"/>
    </div>

  </section>

</div>


<footer>
  <p>© 2013-试衣MM</p>

  <p><a href="http://d.shiyimm.com">android客户端</a></p>

  <p><a href="http://itunes.apple.com/cn/app/id655655105">iPhone客户端</a></p>
</footer>


<script>

    (function () {

        var click_event = DeviceInfo.browser == 'ie' ? 'click' : 'tap';

//        商品详情点击事件
        $('.product a').bind(click_event, function (e) {
            var
                    $dom = $(this),
                    link = $dom.data('href');
            $dom.attr('href', link);
        });
    })();

</script>

