<style>
        /* button
---------------------------------------------- */
    .button {
        display: inline-block;
        zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
        *display: inline;
        vertical-align: baseline;
        margin: 0 32px 32px 0;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font: 14px/100% Arial, Helvetica, sans-serif;
        padding: .6em 3em .55em;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    }

    .button:hover {
        text-decoration: none;
    }

    .button:active {
        position: relative;
        top: 1px;
    }

        /* pink */
    .pink {
        color: #feeef5;
        border: solid 1px #e05281;
        background: #f895c2;
        background: -webkit-gradient(linear, left top, left bottom, from(#f06996), to(#eb3873));
        background: -moz-linear-gradient(top, #f06996, #eb3873);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
    }

    .pink:hover {
        background: #d57ea5;
        background: -webkit-gradient(linear, left top, left bottom, from(#eb3873), to(#f06996));
        background: -moz-linear-gradient(top, #f06996, #eb3873);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
    }

    .pink:active {
        color: #f3c3d9;
        background: -webkit-gradient(linear, left top, left bottom, from(#eb3873), to(#f06996));
        background: -moz-linear-gradient(top, #eb3873, #f06996);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
    }

        /*info*/
    section {
        padding: 0;
    }

    section h3 {
        font-size: 16px;
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #f2f2f2;
    }

    .info {
        line-height: 24px;
        margin: 10px;
    }

    .info li span {
        padding: 5px;
        border: 1px solid #eee;
        margin: 5px;
        line-height: 18px;
    }

    .info li .selected {
        color: #ffffff;
        border-color: #d7235e;
        background-color: #eb3873;
    }

    .info dl,
    .info dd {
        overflow: hidden;
        color: #2f2f2f;
    }

    .info dd span {
        padding: 4px 12px 4px 12px;
        font-size: 14px;
    }

    .info dt {
        color: #999999;
        float: left;
        width: 50px;
        line-height: 32px;
        font-size: 14px;
    }

        /*order*/
    .order {
        line-height: 24px;
        margin-right: 35px;
        0
    }

    .order input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        font-size: 16px;
    }

    .order p {
        margin-top: 10px;
        font-size: 14px;
    }

        /*footer*/
    footer {
        width: 100%;
        margin: 0 auto;
        height: auto;
        padding-bottom: 10px;
        white-space: nowrap;
    }

    footer p {
        line-height: 20px;
    }

    * {
        -webkit-hyphens: none;
    }

</style>

<script type="text/javascript">
</script>

<header>
  <div class="navigation">
    <div></div>
  </div>

  <div class="title">送上门试</div>

</header>

<!--  nav  -->
<%= render :partial => 'common/nav' %>
<!--  end nav  -->
<div class="main">
  <section class="info">
    <h3 style="color: #2f2f2f">感兴趣就试试吧,免费试穿送上门!</h3>
    <ul>
      <li>
        <dl>
          <dt>颜色:</dt>
          <dd id="color">
            <% @color.each do |color| %>
                <span onclick=""><%= color %></span>
            <% end %>
          </dd>
        </dl>
      </li>
      <li id="mea">
        <dl>
          <dt>尺码:</dt>
          <dd id="measure">
          </dd>
        </dl>
      </li>
    </ul>
  </section>
  <section class="order">
    <h3 style="color: #2f2f2f">请留下您的联系方式</h3>

    <p>以便我们与您确认配送时间</p>

    <p><input id="mobile" placeholder="电话号码"/></p>

    <p>
      <button class="button pink" type="submit">确认</button>
    </p>


  </section>

  <footer>
    <p>版权所有 试衣MM</p>
    </br  clear="all">
    <span>联系电话:0574-81855387</span>
  </footer>

</div>


<script>
    $(function () {

        var color = [];
        <% @color.each do |value|%>
        color.push("<%= value %>")
        <% end %>
        var measure = [];
        <% @measure.each do |value|%>
        measure.push("<%= value %>")
        <% end %>

        $('#color span').live('click', function () {
            $('#color span').each(function () {
                $(this).removeClass('selected');
            });
            $(this).toggleClass('selected');
            for (var i = 0; i < color.length; i++) {
                if (color[i] == $(this).text()) {
                    $('#measure').empty();
                    for (var j = 0; j < measure.length; j++) {
                        $('#measure').append('<span onclick="">' + measure[j] + '</span>');
                    }

                    if (measure.length == 0) {
                        $('#mea').hide()
                    }
                }
            }
        });

        $('#color span:first-child').trigger('click');

        $('#measure span').live('click', function () {
            $(this).toggleClass('selected');
//            var selectedMeasure = [];
//            $('#measure span').each(function (){
//                if($(this).hasClass('selected')){
//                    selectedMeasure.push($(this));
//                }
//            });
        });

        $(".button").bind('click', function () {
            var phone = $('#mobile').val();
            if (phone.length > 0) {
//                if(confirm("确认您的电话号码是" + phone)){
                $.getJSON('/home/confirm?mobile=' + phone + '&goods_id=' + "<%= @id%>", function (result) {
//                        alert(2)
                    if (result['result'] == 'ok') {
                        if (confirm("提交成功~,我们会马上联系您！")) {
                            history.back()
                        }
//                        alert("提交成功~,我们会马上联系您！")
//                        history.back()
//                            if(alert("提交成功~")){
//                                window.close();
//                            }
                    } else {
                        alert("提交失败~,请重新试试")
                    }
                });
//                }
            } else {
                alert("您的联系电话还没有填写哦~");
            }
        });
//        $(".info li span").click(function () {
//            $(this).toggleClass('selected');
//        });

    });
</script>